.imageObject {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--radius-sm);
  cursor: grab;
  user-select: none;
}

.imageObject:active {
  cursor: grabbing;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
